.favorite-card {
  margin-left: 5px;
  padding: 24px;
  width: fit-content;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 533px; */
  border: var(--border);
  border-radius: 24px;
  background-color: rgb(var(--gray-0));
}

.favorite-card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 176.7px;
  height: 100%;
  /* width: calc((307px / 238px) * 100px); */
  /* gap: 10px; */
}

.favorite-card .favorite-image {
  border-radius: 16px;
}

.favorite-card .icon {
  flex-shrink: 0;
  display: flex;
  justify-content: start;
  font-size: 24px;
}

.favorite-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 200px;
  color: rgb(var(--gray-950));

  & div {
    display: flex;
    align-items: center;
  }
}

.favorite-heading {
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.favorite-card .location {
  justify-content: start;
  gap: 5px;

  & span {
    font-size: 12px;
  }
}

.favorite-card .bedrooms {
  justify-content: start;
  gap: 5px;

  & span {
    font-size: 12px;
  }
}

.favorite-card .price-details {
  margin-top: 10px;
  display: flex;
  align-items: end;
  gap: 10px;

  & .price-type {
    margin-top: 3.5px;
    font-size: 12px;
    display: flex;
    align-items: end;
  }

  & .price {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: end;
    gap: 5px;

    & span {
      font-size: 12px;
      margin-bottom: 2.5px;
      font-weight: normal;
    }
  }
}

.favorite-card .view-more {
  height: 48px;
  width: 100%;
  border: none;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
}
.favorite-card .view-more:hover {
  transform: scale(1.05);
}
